extends layout
block content
  h1(id='pageheader') URL Filter
  h2 Input URLs
  p
    form(action="/filter", method="post")
      p
        input(id='filterTerm', type='text', name='filterTerm', value='', placeholder='Filter Term')
      p
        textarea(id='inputURLs', name='inputURLs', placeholder='Enter URLs', rows='5')
      input(type='submit', value='Filter By URL')
  h2 Matching Results
  p
    ul
      if urls
        each match in urls
          li= match.url

  p Copyright ©2021
